@* Views/Home/Index.cshtml *@
@using Microsoft.AspNetCore.Hosting
@inject IHostingEnvironment hostingEnv
@{
    var vueUrl = hostingEnv.IsDevelopment() ? "/dist/vendor2.js" : "/dist/vendor2.min.js";
    var mainUrl = hostingEnv.IsDevelopment() ? "/dist/app-bandle.js" : "/dist/app-bandle.min.js";

    ViewData["Title"] = "TryVueMvc Sample";
}
<section id="app-templates"></section>
<div id="app-root">loading..</div>
@section Scripts{
    <script type="systemjs-importmap">
    {
        "imports": {
            "vue": "@vueUrl"
        }
    }
    </script>

    <script>
    $.get("/dist/app-templates.html").done(function (data) {
        $('#app-templates').append(data);

        System.import('@mainUrl').then(function (m) {
            System.import('index');
        });
    });
    </script>
}
